*.exe
*.cache
*.dll
*.log
*.pdb
*.txt
*.obj
*.tlog
*.sln
*.vs
*.png
*.jpg
*.tga
*.fbx
*.mp3
*.wav
*.cso
*.efk
*.efkefc
*.vcxproj
*.exp
*.ilk
*.lib
*.db
*.crdownload
*.exr
*.enc
*.res
*.iobj
*.ipdb
*.idb
*.ico
*.filters
*.user
*.rc